@import "reset.css";
@import "normalize.css";

body{
	background: url(../images/boardwalk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrap{
	width: 400px;
	margin-left: 50px;
}

.task-list{
	width: 1200px;
	min-height: 130px;
	background-color: white;
	padding-top: 235px;
	padding: 22px 6%;
	opacity: .5;
	margin-left: 0px;
}

.input-box{
	text-align: center;
	margin-left: 510px;
	margin-top: 15px;
	height: 60px;
}

.title{
	margin-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	margin-right: 40px;
	font-family: 'Oswald', sans-serif;
	color: white;
}